# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Large data files
*.csv
*.tsv
*.log
*.h5
*.db

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
